<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <sc.variable name="sourceFolder" value="C:\Projects\Spatial\src" />
        <sc.variable name="rootHostName" value="dev.local" />
        <sc.variable name="developerName" value="developer_" />
        <sites>
            <site name="habitat">
                <patch:attribute name="database">master</patch:attribute>
            </site>
        </sites>
        <settings>
            <setting name="developerName" value="developer_" />
        </settings>
    </sitecore>
</configuration>

