<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sc.variable name="GeoJsonPrefix" value="geo_" />
        <sc.variable name="GeoJsonFieldName" value="location" />
        <settings>
            <setting name="Foundation.GeoSearch.Azure.GeoJsonMatcher" value="$(GeoJsonPrefix)"/>
            <setting name="Foundation.GeoSearch.Azure.GeoJsonFieldName" value="$(GeoJsonPrefix)$(GeoJsonFieldName)"/>
        </settings>
        <contentSearch>
            <indexConfigurations>
                <spatialAzureIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
                    <initializeOnAdd>true</initializeOnAdd>
                    <documentOptions ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/documentOptions">
                        <include hint="list:AddIncludedTemplate">
                            <Office>{1FE24C92-7A2E-47B9-840F-293DFC53D917}</Office>
                        </include>
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="$(GeoJsonPrefix)$(GeoJsonFieldName)" type="Sitecore.Foundation.CloudSpatialSearch.IndexWrite.Computed.GeoLocationField, Sitecore.Foundation.CloudSpatialSearch" />
                        </fields>
                        <include hint="list:AddIncludedField">
                            <PlaceName>{0553B69F-5115-4755-AF49-BE7331CF1EB8}</PlaceName>
                        </include>
                    </documentOptions>

                    <!--  **** Inherited default configuration ****  -->
                    <fieldMap ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/fieldMap" />

                    <virtualFields ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/virtualFields" />
                    <fieldReaders ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/fieldReaders"/>

                    <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/indexDocumentPropertyMapper"/>
                    <documentBuilderType ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/documentBuilderType"/>
                    <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption"/>

                    <cloudTypeMapper ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/cloudTypeMapper">
                        <maps hint="raw:AddMap">
                            <map type="Sitecore.Foundation.CloudSpatialSearch.Models.GeoJson, Sitecore.Foundation.CloudSpatialSearch" cloudType="Edm.GeographyPoint"/>
                        </maps>
                    </cloudTypeMapper>

                    <indexFieldStorageValueFormatter type="Sitecore.Foundation.CloudSpatialSearch.IndexWrite.Formatter.GeoCloudIndexFieldStorageValueFormatter, Sitecore.Foundation.CloudSpatialSearch">
                        <converters hint="raw:AddConverter">
                            <converter typeConverter="Sitecore.ContentSearch.Azure.Converters.IndexFieldStringConverter,Sitecore.ContentSearch.Azure" handlesType="System.String[]"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldGuidValueConverter, Sitecore.ContentSearch" handlesType="System.Guid"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldIDValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Data.ID, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldShortIDValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Data.ShortID, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Azure.Converters.IndexFieldUtcDateTimeValueConverter, Sitecore.ContentSearch.Azure" handlesType="System.DateTime"/>
                            <converter typeConverter="Sitecore.ContentSearch.Azure.Converters.IndexFieldUtcDateTimeOffsetValueConverter, Sitecore.ContentSearch.Azure" handlesType="System.DateTimeOffset"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldTimeSpanValueConverter, Sitecore.ContentSearch" handlesType="System.TimeSpan"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldSitecoreItemIDValueConvertor, Sitecore.ContentSearch" handlesType="Sitecore.ContentSearch.SitecoreItemId, Sitecore.ContentSearch">
                                <param type="Sitecore.ContentSearch.Converters.IndexFieldIDValueConverter, Sitecore.ContentSearch"/>
                            </converter>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldSitecoreItemUniqueIDValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.ContentSearch.SitecoreItemUniqueId, Sitecore.ContentSearch">
                                <param type="Sitecore.ContentSearch.Converters.IndexFieldItemUriValueConverter, Sitecore.ContentSearch"/>
                            </converter>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldItemUriValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Data.ItemUri, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldLanguageValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Globalization.Language, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldCultureInfoValueConverter, Sitecore.ContentSearch" handlesType="System.Globalization.CultureInfo"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldVersionValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Data.Version, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldDatabaseValueConverter, Sitecore.ContentSearch" handlesType="Sitecore.Data.Database, Sitecore.Kernel"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexableIdConverter, Sitecore.ContentSearch" handlesType="Sitecore.ContentSearch.IIndexableId, Sitecore.ContentSearch"/>
                            <converter typeConverter="Sitecore.ContentSearch.Converters.IndexableUniqueIdConverter, Sitecore.ContentSearch" handlesType="Sitecore.ContentSearch.IIndexableUniqueId, Sitecore.ContentSearch"/>
                        </converters>
                    </indexFieldStorageValueFormatter>
                </spatialAzureIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>