<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Spatial" description="Foundation Spatial" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\spatial\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Foundation.Spatial.Templates" database="master" path="/sitecore/templates/Foundation/Spatial" />
                        <include name="Foundation.Spatial.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/Spatial" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>