@model List<Sitecore.Foundation.CloudSpatialSearch.Models.SpatialSearchResultItem>

<h2>Azure Search Spatial Installation Test:</h2><br />

@foreach (var result in Model)
{
    <h1>@result.PlaceName</h1>
    <br />
    <h2>Lat: @result.Latitude Long: @result.Longitude</h2>
    <br />
    <p>Distance: @result.Distance</p>
    <br/><hr/>
}