<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing">
        <settings>
            <setting name="Foundation.AddressLookup.Google.ApplicationKey" value=""/>
            <setting name="Foundation.AddressLookup.Google.ClientId" value=""/>
            <setting name="Foundation.AddressLookup.Google.IconMarkerUrl" value=""/>
            <setting name="Foundation.AddressLookup.Google.ZoomLevel" value="17" />
            <setting name="Foundation.AddressLookup.Google.MaxNumberResults" value="20"/>
        </settings>
    </sitecore>
</configuration>